/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header Section */
header {
  background-image: url('background.png');
  background-size: cover;
  background-position: top center;
  padding: 20px 50px;
  text-align: center;
  color: white;
}

/* Navigation */
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  font-weight: bold;
}

/* Hero Section */
.hero-text {
  padding-top: 100px;
  max-width: 700px;
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: black;
}

.hero-text h2 {
  font-size: 2.25rem;
  color: #4caf50;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-text p {
  color: black;
}

.highlight {
  color: #4caf50;
}

/* Social Media Icons */
.social-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.25rem;
  color: #333;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4caf50;
}
