/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.6;
  color: #172b4d;
  background-color: #fff;
  background-image: url("background.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #172b4d;
}

/* App Bar */
.app-bar {
  background-color: #fff;
  color: #172b4d;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu-icon {
  font-size: 1.5rem;
  color: #172b4d;
  cursor: pointer;
}

/* Header Section */
header {
  padding: 20px;
  text-align: center;
  color: #172b4d;
  height: 100vh;
  padding-top: 75px;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: flex-end;
}

/* Hero Section */
.hero-text {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}

.hero-text h1 {
  font-size: 2rem;
  color: #172b4d;
}

.hero-text h2 {
  font-size: 1.75rem;
  color: #36b37e;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.1rem;
  color: #172b4d;
  line-height: 1.6;
  margin-top: 20px;
  padding: 0 50px;
}

/* Social Media Icons */
.social-icons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.25rem;
  color: #505f79;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #36b37e;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.75rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .menu-icon {
    font-size: 1.25rem;
  }

  .social-icons a {
    margin: 0 8px;
  }
}

@media (max-width: 375px) {
  .hero-text {
    padding-top: 100px;
  }

  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text h2 {
    font-size: 1.25rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .social-icons a {
    font-size: 1.25rem;
  }

  .menu-icon {
    font-size: 1.5rem;
  }
}
